<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <section>
      <div class="bg">
    <div class="container">
        <div class="holder city">
          <label for="city">Where do you want to go?</label>
          <input type="text" id="city" name="city" placeholder="City" required>
        </div>
        <div class="holder date">
          <label for="date">When?</label>
          <input type="date" id="date" name="date" required>
        </div>
        <button id="generate" type="submit"> Submit </button>
      </div>
    </div>
      </section>
      <section class="weather">
        <div id="info">
          <p id=temperature></p>
        </div>
    </section>
    <section class="photo">
        <image id="images"></image>
    </section>
  </main>
  <footer>
    <p>&copy; 2021 Paulina Nowek</p>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>