
.invisible{
    display: none !important;
}

#trip_details{
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    grid-area: content;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    width: 80vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 12px 16px 55px black;
}

#main_details{
    display: grid;
    width: 60vw;
    height: auto;
    font-size: 2vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-gap: 10px;
}

.dynamic_content{
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
}

#dest_photo img{
    width: 15vw;
    height: 15vw;
}


#trip_details_section{
    width: 100%;
    color: black;
    height: 100vh;
    grid-area: tripdetails;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-areas: "space space space" "content content content" "space3 space3 space3";

}
