
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
